/*========================================================================*/
/* ------------------- Setting varian mÃ u sáº¯c -------------------- */




.color.swatch-element label.mau-tu-nhien-cl span {
	background: #d2af84 !important;
}




.color.swatch-element label.nau-cl span {
	background: #644335 !important;
}




.color.swatch-element label.xam-xanh-cl span {
	background: #97a2b9 !important;
}




.color.swatch-element label.trang-cl span {
	background: #ffffff !important;
}




.color.swatch-element label.go-phoi-trang-cl span {
	background: #f1e2c2 !important;
}




.color.swatch-element label.be-cl span {
	background: #ece3dd !important;
}




.color.swatch-element label.trang-xam-cl span {
	background: #d4cece !important;
}




.color.swatch-element label.den-cl span {
	background: #000000 !important;
}




.color.swatch-element label.dau-cobe-cl span {
	background: #b2b6a4 !important;
}




.color.swatch-element label.mau-vang-cl span {
	background: #f3e524 !important;
}




.color.swatch-element label.dong-cl span {
	background: #e2b360 !important;
}




.color.swatch-element label.vang-hong-cl span {
	background: #d4b4a5 !important;
}




.color.swatch-element label.bac-cl span {
	background: #dadada !important;
}




.color.swatch-element label.xam-da-cl span {
	background: #b4babe !important;
}




.color.swatch-element label.ghi-cl span {
	background: #46484b !important;
}




.color.swatch-element label.bo-cl span {
	background: #f1f0c4 !important;
}




.color.swatch-element label.cam-dat-cl span {
	background: #9f6033 !important;
}




.color.swatch-element label.da-dam-cl span {
	background: #d1b292 !important;
}




.color.swatch-element label.dau-lot-cl span {
	background: #e9caae !important;
}




.color.swatch-element label.hong-phan-cl span {
	background: #ecd3d8 !important;
}




.color.swatch-element label.xam-da-cl span {
	background: #b4babe !important;
}




.color.swatch-element label.xam-xanh-cl span {
	background: #8a8a99 !important;
}




.color.swatch-element label.dau-cobe-cl span {
	background: #b2b6a4 !important;
}




.color.swatch-element label.xam-cl span {
	background: #d3d0d3 !important;
}




.color.swatch-element label.amber-cl span {
	background: #dfbd8b !important;
}




.color.swatch-element label.xanh-mint-cl span {
	background: #50e3c2 !important;
}




.color.swatch-element label.nau-phoi-trang-cl span {
	background: #99653b !important;
}




.color.swatch-element label.xam-dam-cl span {
	background: #635656 !important;
}




.color.swatch-element label.xanh-navy-cl span {
	background: #000080 !important;
}




.color.swatch-element label.-cl span {
	background: #ffffff !important;
}






.color.swatch-element label.mau-tu-nhien span {
	background: #d2af84 !important;
}




.color.swatch-element label.nau span {
	background: #644335 !important;
}




.color.swatch-element label.xam-xanh span {
	background: #97a2b9 !important;
}




.color.swatch-element label.trang span {
	background: #ffffff !important;
}




.color.swatch-element label.go-phoi-trang span {
	background: #f1e2c2 !important;
}




.color.swatch-element label.be span {
	background: #ece3dd !important;
}




.color.swatch-element label.trang-xam span {
	background: #d4cece !important;
}




.color.swatch-element label.den span {
	background: #000000 !important;
}




.color.swatch-element label.dau-cobe span {
	background: #b2b6a4 !important;
}




.color.swatch-element label.mau-vang span {
	background: #f3e524 !important;
}




.color.swatch-element label.dong span {
	background: #e2b360 !important;
}




.color.swatch-element label.vang-hong span {
	background: #d4b4a5 !important;
}




.color.swatch-element label.bac span {
	background: #dadada !important;
}




.color.swatch-element label.xam-da span {
	background: #b4babe !important;
}




.color.swatch-element label.ghi span {
	background: #46484b !important;
}




.color.swatch-element label.bo span {
	background: #f1f0c4 !important;
}




.color.swatch-element label.cam-dat span {
	background: #9f6033 !important;
}




.color.swatch-element label.da-dam span {
	background: #d1b292 !important;
}




.color.swatch-element label.dau-lot span {
	background: #e9caae !important;
}




.color.swatch-element label.hong-phan span {
	background: #ecd3d8 !important;
}




.color.swatch-element label.xam-da span {
	background: #b4babe !important;
}




.color.swatch-element label.xam-xanh span {
	background: #8a8a99 !important;
}




.color.swatch-element label.dau-cobe span {
	background: #b2b6a4 !important;
}




.color.swatch-element label.xam span {
	background: #d3d0d3 !important;
}




.color.swatch-element label.amber span {
	background: #dfbd8b !important;
}




.color.swatch-element label.xanh-mint span {
	background: #50e3c2 !important;
}




.color.swatch-element label.nau-phoi-trang span {
	background: #99653b !important;
}




.color.swatch-element label.xam-dam span {
	background: #635656 !important;
}




.color.swatch-element label.xanh-navy span {
	background: #000080 !important;
}




.color.swatch-element label. span {
	background: #ffffff !important;
}


.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 14px;
}

.tab button:hover {
	background-color: #ddd;
}

.tab button.active {
	background-color: #ccc;
}

.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}

.infor_promotion{
	margin-top:10px;
} 
.review-test{cursor: pointer;}
.review-item .article-item--post {
	border: 0;
} 

.wrapper-home-latestblogs .review-item .article-item--post .post-image{
	/*border-radius: 50%;*/
	margin: 0 auto;
	line-height: 240px;
	object-fit: cover;
}
.wrapper-home-latestblogs .review-item .article-item--post:hover .post-image img{
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1); 
	-o-transform: scale(1);
	-moz-transform: scale(1);
	opacity: 1;
	object-fit: cover; 
}
.wrapper-home-latestblogs .review-item .article-item--post .post-body h3{
	text-align: center;
}
.wrapper-home-latestblogs .review-item .article-item--post .post-body h3 a{
	overflow: hidden;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	line-height: 1.3;
}
p.post-star {
	text-align: center;
}

p.post-star i {
	color: #ef683a;
}

i.fa.fa-star.fa-fw {
	color: #ef683a!important;
}
@media (max-width: 767px){
	.main-header .wrap-logo img {
		max-width: 105px;
	}

}

.review-test .popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* The actual popup */
.review-test .popup .popuptext {
	visibility: hidden;
	width: 100px;
	background-color: #fff;
	border: 1px solid #eee;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	transform: translateX(-50%);
}

/* Popup arrow */
.review-test .popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #ddd transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.review-test .popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {opacity: 0;} 
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}
.review-test .cmpText{
	display: inline-block;
	margin-left: 15px;
}
.custom_sold_qty {
	padding-left:0px;
	text-align:right;
}
@media (max-width: 1200px) and (min-width: 992px) {
	.custom_sold_qty {
		padding-left:15px;
		text-align:left;
		padding-top:5px;
		width: 100%;
	}
	.custom_review {
		width: 100%;
	}
}
@media(max-width:767px){
	.custom_sold_qty {
		padding-left:15px;
		text-align:left;
		padding-top:5px;
	}
	#collection-body .custom_review {
		height: auto !important;
	}
}
.pro-loop .product-img .product-sale, .pro-loop .product-img .sold-out{
	color: #ef683a;
}
.color.swatch-element label.mau-tu-nhien span {
	background: #d2af84 !important;
}




.color.swatch-element label.nau span {
	background: #644335 !important;
}




.color.swatch-element label.xam-xanh span {
	background: #97a2b9 !important;
}




.color.swatch-element label.trang span {
	background: #ffffff !important;
}




.color.swatch-element label.go-phoi-trang span {
	background: #f1e2c2 !important;
}




.color.swatch-element label.be-cl span {
	background: #ece3dd !important;
}




.color.swatch-element label.trang-xam span {
	background: #d4cece !important;
}




.color.swatch-element label.den span {
	background: #000000 !important;
}




.color.swatch-element label.dau-cobe span {
	background: #b2b6a4 !important;
}




.color.swatch-element label.mau-vang span {
	background: #f3e524 !important;
}




.color.swatch-element label.dong-cl span {
	background: #e2b360 !important;
}




.color.swatch-element label.vang-hong span {
	background: #d4b4a5 !important;
}




.color.swatch-element label.bac span {
	background: #dadada !important;
}




.color.swatch-element label.xam-da span {
	background: #b4babe !important;
}




.color.swatch-element label.ghi span {
	background: #46484b !important;
}




.color.swatch-element label.bo span {
	background: #f1f0c4 !important;
}




.color.swatch-element label.cam-dat span {
	background: #9f6033 !important;
}




.color.swatch-element label.da-dam span {
	background: #d1b292 !important;
}




.color.swatch-element label.dau-lot span {
	background: #e9caae !important;
}




.color.swatch-element label.hong-phan-cl span {
	background: #ecd3d8 !important;
}




.color.swatch-element label.xam-da span {
	background: #b4babe !important;
}




.color.swatch-element label.xam-xanh span {
	background: #8a8a99 !important;
}




.color.swatch-element label.dau-cobe span {
	background: #b2b6a4 !important;
}




.color.swatch-element label.mau-tim span {
	background: #a738d3 !important;
}

.color.swatch-element label.-cl span {
	background: #ff0000 !important;
}

.color.swatch-element label.-cl span {
	background: #ffffff !important;
}

.color.swatch-element label.-cl span {
	background: #ffffff !important;
}

.color.swatch-element label.-cl span {
	background: #ffffff !important;
}

.color.swatch-element label.-cl span {
	background: #ffffff !important;
}




.color.swatch-element label.-cl span {
	background: #ffffff !important;
}
#collection-body .custom_review {
	height: 36px;
}

.starbaprv-widget.starbaprv-preview-badge.starbaprv-preview-badge--with-link{
    height: 40px;
}
/*===== APP COMBO - BUY X TANG Y ============================================*/
.modal-productApp{	background: rgba(3, 17, 27, 0.7);-webkit-transition: opacity .35s linear;-o-transition: opacity .35s linear;transition: opacity .35s linear;}
.modal-productApp.fade .modal-dialog{-webkit-transform: translate(0,0);-ms-transform: translate(0,0);-o-transform: translate(0,0);transform: translate(0,0);}
.modal-productApp .modal-dialog-centered {
	display: -webkit-box;display: -ms-flexbox; display: flex;
	-webkit-box-align: center; -ms-flex-align: center; align-items: center;
}
.modal-productApp .modal-dialog-centered .modal-content {width: 100%; }
.modal-productApp .modal-dialog-centered{ margin: 1.75rem auto;min-height: calc(100% - (1.75rem * 2));}
.modal-productApp.fade .modal-dialog-centered {
	opacity: 0;
	-webkit-transform: scale(0.8);-moz-transform: scale(0.8);-ms-transform: scale(0.8);transform: scale(0.8);
	-webkit-transition: all .2s;-moz-transition: all .2s;-ms-transition: all .2s;transition: all .2s;
}
.modal-productApp.fade.in .modal-dialog-centered {	opacity: 1;-webkit-transform: scale(1);-moz-transform: scale(1);	-ms-transform: scale(1);transform: scale(1);}
.modal-productApp .modal-dialog-centered .modal-content{margin-bottom: 50px;}

.modal-productApp .modal-footer {padding: 15px;text-align: center;}
.modal-productApp .modal-footer .button{margin:0 5px;}
.modal-productApp .modal-header{padding:15px 20px ;}
.modal-productApp .modal-header .name-combo,
.modal-productApp .modal-header .modal-title {margin: 0;font-weight: bold;font-size:22px;padding: 0px 30px 0px 0px;}
.modal-productApp .modal-header .combo-title {margin:10px 0 0;font-size: 14px;	font-weight: bold;}
.modal-productApp .modal-header .close-modal-app {display: inline-block;position: absolute;background-color: #ffffff;width: 30px;height: 30px;	border-radius: 50%;	border: 1px solid #333;	right: 13px;top: 9px;z-index: 9;	opacity: 1;margin: 0;}
.modal-productApp .modal-header .close-modal-app svg {display: inline-block;fill: currentColor;position: relative;width: 12px;line-height: 30px;margin-top:-2px;}
.redthongbao {
    clear: both;
    color: red;
    margin-left: 15px;
}
#combo-popup .modal-body{
	padding: 15px 0;
}
#combo-program {max-height:400px; overflow: auto; padding: 0 15px;}
#combo-program .combo-title b {color: #ff0707; color:#000;}

#combo-program .combo-w {
	border-bottom: 1px solid #e5e5e5;
	border: 1px solid #e1e1e1;
	margin-bottom: 10px;
	padding: 10px 10px 10px 40px;
	position: relative;
}

#combo-program .combo-w .name-combo {
	margin-bottom: 10px;
}
#combo-program .combo-w .name-combo span{
	margin: 0;
	display: inline-block;
	color: #ef683a;
	font-weight: bold;
}
#combo-program .combo-w:after {content: '\2714\fe0e';font-size: 16px;position: absolute;top: calc(50% - 7px);left: 11px;color:#000;opacity: 0;}
#combo-program .combo-w:before {content: '';width: 20px;height: 20px;border: 1px solid #e1e1e1;border-radius: 3px;position: absolute;top: calc(50% - 6px);left: 7px;}
#combo-program .combo-w.checked:after {opacity: 1;}
#combo-program .combo-w.checked:before {border: 1px solid #000;}
#combo-program table tr {margin-bottom: 3px;}
#combo-program table tr:first-child td { border-top:0; }
#combo-program table .combo-product {font-weight: normal;font-size: 13px;display: block;border: none;padding: 5px 0;cursor: pointer;}
#combo-program table .combo-product:after {content: "";display: table;clear: both;}
#combo-program table .combo-product .combo-image {display: inline-block;width:85px;	float: left;}
#combo-program table .combo-product .combo-info{display: inline-block; width: calc(100% - 85px); float: left;}
#combo-program table .combo-product p {display: inline-block;width: calc(100% - 85px);float: left;margin-bottom: 8px;padding-left: 15px; color:#000;}
#combo-program table .combo-product .discount-promotion-price b {color: #ef683a;}
#combo-program table .combo-product .discount-promotion-price del {margin-left: 5px;}
#combo-program table .combo-product .variants{
	display: inline-block;
	width: 100%;
	float: left;
	margin-bottom: 8px;
	padding-left: 15px;
	color: #000;
}
#combo-program table .combo-product .variants p{
	width: auto;
	border-radius: 0;
	color: #333;
	padding: 8px;
	text-transform: uppercase;
	margin: 0;
	background-color: white;
	border: 1px solid gray;
	text-align: center;
	filter: alpha(opacity=60);
	-khtml-opacity: 0.6;
	-moz-opacity: 0.6;
	opacity: 0.6;
}
#combo-program table .combo-product .variants select{
	padding: 8px;    border: 1px solid #ccc;
	width:100%;
	overflow:hidden !important;
}
#combo-program table input {display: none;}
#combo-program table input:checked + label {color: #000;background: #fff8f8;}
#combo-program .btn-action {margin-top: 10px;}
#combo-program .btn-action button {
	display: block;
	width: 220px;
	border: 1px solid;
	border-radius: 0;
	color: #000;
	padding: 10px 0px;
	text-transform: uppercase;
	margin: 5px 0 10px;
	background-color: white;
	border: 1px solid gray;
	text-align: center;
}
#combo-program .btn-action button:hover{
	background-color: #FF6699;
	color: white;
	border-color: #ff6699;
	cursor: pointer;
}
#buyxgety-program {margin:20px 0;border: 2px dotted #434343;padding:10px;position: relative;min-height: 100px;z-index: 0;}
#buyxgety-program .buyxgety-heading{padding:5px 10px;position: relative;padding-right:60px;}
#buyxgety-program .buyxgety-heading h3{font-size: 18px;font-weight: 600;margin: 0 0 4px;}
#buyxgety-program .buyxgety-heading:after {
	content: "";
	position: absolute;width:35px;height:35px;right: 10px;	top:6px;
	background-image: url('');
	background-repeat: no-repeat;background-size: contain;
}
#buyxgety-program .modal-body{padding:15px 30px;}
.buyxgety_item {display: -webkit-flex;display: flex;padding: 5px 10px 10px;}
.buyxgety_item .buyxgety_checkbox {width:35px;float: left;padding-top:7px;}
.buyxgety_item .buyxgety_image {width: 60px;float: right;}
.buyxgety_item .buyxgety_item_title{width:calc(100% - 95px);float: right;padding-left:15px;}
.buyxgety_item .buyxgety_list_variant select{font-size: 94%; font-style: italic;min-width:110px;	outline: none; padding: 1px 15px 2px;	margin:2px 0 5px;}
.buyxgety_item .buyxgety_checkbox input[type=radio]{cursor: pointer;width:15px;height:15px;}

.pro-loop .product-img .product_gift_label {width: 25px;position: absolute;top: 10px;right: 10px;z-index:1;}
.product-loop-special .product-col-left{position: relative;}
.product-loop-special .product-col-left .product_gift_label{position: absolute;width: 50px;top: 15px;	z-index: 2;left: 20px;}
button.btn-product-gift{width: 100%;padding: 14px 35px; font-size: 16px;}
table.table-cart tr td.item .ico-gift{display: inline-block;width: 16px;vertical-align: text-bottom;margin-left: 10px;}
@media(max-width:767px){
	.modal-productApp .modal-dialog-centered{margin: 2.5rem 1.5rem;min-height: calc(100% - (2.5rem * 2));}
	.modal-productApp .modal-header{padding-left:15px;}
	.modal-productApp .modal-header .name-combo,
	.modal-productApp .modal-header .modal-title{ font-size: 18px;}
	.modal-productApp .modal-footer .button{width:100%;margin: 0;}
	.modal-productApp .modal-footer .button + .button.discount-promotion-btn{margin-top:15px;}
}

.combo-giare {
    margin-top: 10px;
}
#main-form{display:none !important;}
#description_product iframe{left: 0}
.button.red a {color:#fff}
.button.red:hover a {color: #434343}

.checkins-real .swatch .swatch-element label.sd {
    border: 1px solid #000;
    background: transparent;
    color: #000;
}

.checkins-real  .swatch .swatch-element label span {
    padding-left: 20px;
}

.levl-1 a{
	font-size: 10px;
}
